<div class="jumbottron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Idea notes for your project</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Note</a>
</div>   